@model SPD.MVC.PortalWeb.ViewModels.HistoricoOperacaoViewModel

<style>
    .sorting {
        color: #428bca;
        font: bold;
    }

    .sorting_asc {
        color: #428bca;
        font: bold;
    }

    .sorting_desc {
        color: #428bca;
        font: bold;
    }

</style>

<table id="idGrid" class="table table-hover table-condensed text-left" cellspacing="0" style="border-collapse:collapse;border:0px">
    <thead>
        <tr>
            <th scope="col"> Descrição</th>
            <th scope="col"> Tipo de Operação</th>
            <th scope="col"> Usuário</th>
            <th scope="col"> Funcionalidade</th>
            <th scope="col"> Data da Operação</th>
        </tr>
    </thead>
</table>
