@model SPD.MVC.PortalWeb.ViewModels.ConsultaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<hr />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"> <b> Dentista</b></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            @*@Html.DropDownListFor(model => model.Dentista_string, Model.ListNomeDentista as SelectList,
                       "", new { @class = "form-control", @style = "width:260px", @onchange = "OnChange();" })*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"> <b> Paciente</b></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            @*@Html.DropDownListFor(model => model.Paciente_string, Model.ListNomePaciente as SelectList,
                       "", new { @class = "form-control", @style = "width:260px", @onchange = "OnChange();" })*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"> <b> Dados da Consulta</b></div>
                <div class="panel-body">

                    <div class="row">

                        <div id="assinatura">
                            <canvas class="panel panel-default" width="350" height="100" id="odontogramaAdulto" style="background-image:url('../../Content/Images/odontograma.png')"></canvas>

                            <br />

                            <button class="btn" id="accept"><span class="glyphicon glyphicon-ok" style="color:green"></span></button>
                            <button class="btn" id="clear"><span class="glyphicon glyphicon-repeat" style="color:darkblue"></span></button>


                        </div>

                        <div id="idimgAssinatura" style="padding-left:560px;">

                            <div id="idimg" hidden="hidden">
                                <button class="btn" id="idnewSignature" onclick="NewCanvas();"><span class="glyphicon glyphicon-repeat" style="color:darkblue"></span></button>
                                <br />
                                <img width="350" height="100" id="savetarget" />
                                @*@Html.HiddenFor(model => model.Img_string)*@
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")

    <script src="~/Scripts/signature_pad.min.js"></script>
    <script src="~/Scripts/Consulta/Consulta.js"></script>

}