<style>
    .sorting {
        color: #428bca;
        font: bold;
    }

    .sorting_asc {
        color: #428bca;
        font: bold;
    }

    .sorting_desc {
        color: #428bca;
        font: bold;
    }
</style>

<table id="idGrid" class="table table-hover table-condensed text-left" cellspacing="0" style="border-collapse:collapse;border:0px">
    <thead>
        <tr>
            <th scope="col"> Dentista</th>
            <th scope="col"> Horário</th>
            <th scope="col"> Paciente</th>
            <th scope="col"> Ações</th>
        </tr>
    </thead>
</table>
