@using SPD.MVC.Geral.Content.Texts
@using SPD.MVC.PortalWeb.Content.Texts
@{
    ViewBag.Title = TelaPrincipalResource.HomeTitle;
}

<div class="jumbotron" style="margin-top: 30px;">
    <h1>@GlobalResource.ApplicationShortTitle</h1>
    <p class="lead">
        Texto a ser escrito ....
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
