<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=BRUNO-COSTA\SQLEXPRESS;Initial Catalog=Database;persist security info=True;User Id=sa;Password=bruninho02;MultipleActiveResultSets=True;App=EntityFramework;" />
</connectionStrings>
