<?xml version="1.0" encoding="utf-8"?>
<emailSettings>
  <clear />
  <!--ToDo: Definir servidor smtp a ser utilizado e substituir credenciais. -->
  <add key="userName" value="Sistema SGTAN" />
  <add key="userEmail" value="sgtan@iacit.com.br" />
  <add key="userPassword" value="sgt2017" />
  <add key="server" value="smtp.iacit.com.br" />
  <add key="port" value="587" />
  <add key="ssl" value="false" />
</emailSettings>