<style>
    .sorting {
        color: #428bca;
        font: bold;
    }

    .sorting_asc {
        color: #428bca;
        font: bold;
    }

    .sorting_desc {
        color: #428bca;
        font: bold;
    }
</style>

<table id="idGrid" class="table table-hover table-condensed text-left" cellspacing="0" style="border-collapse:collapse;border:0px">
    <thead>
        <tr>
            <th scope="col"> ID</th>
            <th scope="col"> Nome</th>
            <th scope="col"> E-mail</th>
            <th scope="col"> Ativo</th>
            <th scope="col"> Bloqueado</th>
        </tr>
    </thead>
</table>
